* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.banner {
    position: absolute;
    width: 100%;
    height: 81px;
    left: 0px;
    top: 0px;
    background: linear-gradient(86.51deg, rgba(239, 194, 228, 0.17) 0.09%, rgba(122, 62, 190, 0.33) 99.92%);
}
.footer {
    /*position: fixed;*/
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 28%;
    background: linear-gradient(86.51deg, rgba(239, 194, 228, 0.17) 0.09%, rgba(122, 62, 190, 0.33) 99.92%);
    color: black;
    text-align: center;
 }
 .imgLogo {
    position: absolute;
    width: 19em;
    height: 17em;
    left: 8px;
    top: -67px;
   } 
 
/*.container {
        /* width: 47%; */
        /* height: 0vh; */
        /* padding: 0px; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */


.login-container {
    height: 0px;
    /* height: auto; */
    /* width: 44%; */
    /* height: 20%; */
    padding: 22px 43px;
    margin: 0px;
    background: #fff;
}

/*.register,
.login {
    flex: 1;
}

.register {
    padding: 40px;
    position: relative;
}

.register h2 {
    color: #797979;
    margin-bottom: 30px;
}
*/
.correo {
    width: 95%;
    padding: 5px 40px 3px 48px;
    font-size: 14px;
    line-height: 2rem;
    margin-bottom: 20px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #c7c7c7;
    background: content-box;
  }

/*.register inpunt:active,
.register input:focus {
    outline: none;
}

.register .submit {
    width: auto;
    padding: 10px;
    background: #9c27b0;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 2);
    cursor: pointer;
}

.register::after {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: -23px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);
    /*color: #7c7c7c;*/

.login {
    background: linear-gradient(180deg, rgba(239, 194, 228, 0.17) 0%, rgba(122, 62, 190, 0.33) 100%);
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
    padding: 32px 47px 8px 47px;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    margin-right: 1vw;
    margin-left: 62vw;
    margin-top: -48vw;
    line-height: 1rem;
    height: 68vh;
    width: 49vh;
}

.login h2 {
    color: #000;
    height: 80px;
    width: 252px;
    font-size: 18px;
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: center;
    line-height: 4rem;
}

.login buttom i {
    position: absolute;
    top: 12px;
    left: 12px;
}

.login button {
    margin: 6px 3px;
    padding: 8px;
    line-height: 1rem;
    background: #764BC4;
    border-style: none;
    color: #fff;
    /* width: 294px; */
    /* height: 37px; */
}

.login .fb {
    margin: 6px 3px;
    padding: 8px;
    background: #3b5999;
    border-style: none;
    color: #fff;
    /* width: 294px; */
    /* height: 37px; */
    left: 48px;
}


.login .goo {
    background:  #4285F4;
    border-style: none;
    color: #fff;
}

#mensajeLogin{
    color: #797979;
    font-size: 16px;
}

#mensajeRegistro{
    color: #797979;
    font-size: 16px;
}

.laptopPic {
    background-image: url(img/mujeresdos.jpg);
    height: 120vh;
    width: 65%;
    /* display: block; */
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 28%;
}
.register {
    background: linear-gradient(180deg, rgba(239, 194, 228, 0.17) 0%, rgba(122, 62, 190, 0.33) 100%);
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
    padding: 32px 47px 8px 47px;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    margin-right: 1vw;
    margin-left: 62vw;
    margin-top: -48vw;
    line-height: 1rem;
    height: 68vh;
    width: 49vh;
}
.register {
    background: linear-gradient(180deg, rgba(239, 194, 228, 0.17) 0%, rgba(122, 62, 190, 0.33) 100%);
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
    padding: 32px 47px 8px 47px;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    margin-right: 1vw;
    margin-left: 62vw;
    margin-top: -48vw;
    line-height: 1rem;
    height: 68vh;
    width: 49vh;
}
.register button {
    margin: 6px 3px;
    padding: 8px;
    line-height: 1rem;
    background: #764BC4;
    border-style: none;
    color: #fff;
    /* width: 294px; */
    /* height: 37px; */
}
.register .fb {
    margin: 6px 3px;
    padding: 8px;
    background: #3b5999;
    border-style: none;
    color: #fff;
    /* width: 294px; */
    /* height: 37px; */
    left: 48px;
}
.register .goo {
    background:  #4285F4;
    border-style: none;
    color: #fff;
}
.register h2 {
    color: #000;
    height: 80px;
    width: 252px;
    font-size: 18px;
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: center;
    line-height: 4rem;
}
@media screen and (max-width: 980px) {
    .banner {
        position: absolute;
        width: 40em;
        height: 90px;
    }
    .imgLogo {
        position: absolute;
        width: 19em;
        height: 18em;
        left: -8px;
    }
    .login-container {
        height: 0px;
        padding: 22px 43px;
        margin: 0px;
        background: #fff;
    }
    .login h2 {
        height: 77vh;
        width: 59vh;
    }

}

.father {
  display: flex;
}

  .header {
    display: flex;
  }
    
    .banner {
      position: absolute;
      width: 1400px;
      height: 81px;
      left: 0px;
      top: 0px;
      background: linear-gradient(86.51deg, rgba(239, 194, 228, 0.17) 0.09%, rgba(122, 62, 190, 0.33) 99.92%);
    }

    @media (min-width:400px){
      .banner {
        width: 400px;
        height: 81px;
      }
    }

    @media (max-width:1400px){
      .banner {
        width: 1400px;
        height: 81px;
      }
    }

    .imgLogo {
      position: absolute;
      width: 19em;
      height: 17em;
      left: 8px;
      top: -67px;
    } 
  
    #check {
      display: none;
    }

    #check:checked ~ .sidebarNav {
      width: 27%;
    }

    .sidebarNav {
      position: fixed;
      top: 77px;
      width: 0px;
      height: 100vh;
      background: linear-gradient(90.02deg, rgba(239, 194, 228, 0.17) 17.4%, rgba(122, 62, 190, 0.33) 83.92%);
      transition: all 300ms;
      overflow: hidden;
    }

    .sidebar label span{
      position: fixed;
      top: 80px;
      left: 10px;
      width: 40px;
      text-align: center;
      font-size: 30px;
      border: 3px solid #a15fec;
      color: #a15fec;
      border-radius: 25%;
      cursor: pointer;
      z-index: 10;
      transition: all 300ms;
    }

    .sidebar label span:hover {
      background: rgba(241, 57, 195, 0.2);
    }

    .sidebarNav ul li {
      color: #764BC4;
      list-style: none;
      padding: 15px 10px;
      border-bottom: 1px solid rgba(100, 100, 100, .3);
      text-align: center;
      cursor: pointer;
      transition: all 300ms;
      
    }

    .sidebarNav ul li:hover {
      background: rgba(241, 57, 195, 0.2);
    }

    .container-columns {
    width: 100%;
    /*margin: auto;*/
    display: flex;
    flex-flow: row wrap;
  }

  /*@media all and (max-width: 800px){
    .container-columns {
      flex-direction: column;
    }
    .column3 {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row-reverse;
    }
  }*/

    .column1{
      width: 27%;
      display: flex;
      flex: 1 1 auto;
      /*float: left;*/
      margin-top: 20px;
      padding: 20px 20px;
      box-sizing: border-box;
      margin-bottom: 50px;
      margin: auto;
    }

      .profile-picture {
        /*width: 60px;*/
        height: 60px;
        border-radius: 50%;
        margin-right: 1em;
        width: 50%;
        flex-direction: column;
        align-items: center;
        position: relative;
      }

      .user-name {
        font-size: 1.5em;
        color: #070707;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
      }

    .column2{
      width: 46%;
      flex: 2 1 auto;
      display: flex;
      /*float: left;*/
      margin-top: 20px;
      padding: 20px 20px;
      box-sizing: border-box;
      margin-bottom: 50px;
      
    }

      .column2 textarea {
        position: absolute;
        margin-top: 80px;
        width: 35%;
        height: 104px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        border: 1px solid #C89DF9;
        box-sizing: border-box;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.22);
        border-radius: 6px;
      }

      .btn-post {
        position: absolute;
        width: 108px;
        height: 30px;
        background: #4947B0;
        border-radius: 4px;
        margin-top: 200px;
      }

    .column3 {
      width: 27%;
      flex: 1 1 auto;     
     /* float: left;*/
      margin-top: 90px;
      padding: 20px 20px;
      box-sizing: border-box;
      margin-bottom: 50px;
      margin: auto;
    }
      
      .column3 img{
        width: 100%;
        margin: 10px;
        /*display: flex;
        flex-flow: row wrap;
        flex: 1 1 40%;*/
      }

  .footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    width: 100%;    
    background: linear-gradient(86.51deg, rgba(239, 194, 228, 0.17) 0.09%, rgba(122, 62, 190, 0.33) 99.92%);
    color: black;
  }

h1 {
  font-size: 2em;
  color: rgba(114, 46, 133, 0.8);
}
  
h3 {
  font-size: 1.6em;
  margin-top: 100px;
  text-align: center;
  color: rgba(114, 46, 133, 0.8);
}

