* {
  margin: 0;
  padding: 0;
  font-family: sans-pro-regular, sans-serif;
  box-sizing: border-box;
}
#output{
  display: none;
}
#btnEditarComentario{
  visibility: hidden;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 0;
}

.container-columns {
  flex-grow: 1;
}

#start {
width: 100%;
height: 7em;
background: linear-gradient(86.51deg, rgba(239, 194, 228, 0.17) 0.09%, rgba(122, 62, 190, 0.33) 92.64%);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0 2em;
box-sizing: border-box;
position: relative;   
}  
#start .imgLogo {
  width: 11em;
  height: 11em;
  margin-top: 17px;
  display: block;
  position: absolute;
  left: calc(46% - 73px);
}
.index-padre {
  display: flex;
  flex-direction: row;
}
.login {
  background: linear-gradient(86.51deg, rgba(239, 194, 228, 0.17) 0.09%, rgba(122, 62, 190, 0.33) 92.64%);
  padding: 32px 47px 8px 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  margin: auto;
  border-radius: 5px;
  width: 23em;
  margin-top: 41px;
  margin-bottom: 3em;
  justify-content: space-evenly;
}
h2 {
  color: #2e2e2e;
  font-size: 16px;
  line-height: 2rem;
}
.correo {
  width: 95%;
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
  margin-bottom: 20px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a2a2a2;
  background: content-box;
}
.login button {
  margin: 0px 0px;    
  width: 95%;
  padding: 5px 40px 3px 48px;
  font-size: 14px;
  line-height: 2rem;
  margin-bottom: 20px;
  background: #53345d;
  border-style: none;
  color: #fff;

}
.login .fb {
  background: #3b5999;
  border-style: none;
  color: #fff;
}
.login .goo {
  background:  #4285F4;
  border-style: none;
  color: #fff;
}
.login a {
  color: #655e68;
  font-size: 1.0em;
  width: 14em;
  text-align: center;
  line-height: 1.8rem;
}
.register {
  background: linear-gradient(86.51deg, rgba(239, 194, 228, 0.17) 0.09%, rgba(122, 62, 190, 0.33) 92.64%);
  padding: 20px 44px 8px 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  margin: auto;
  border-radius: 4px;
  width: 23em;
  margin-top: 30px;
  margin-bottom: 2em;
  justify-content: space-evenly;
}
.register button {
  margin: 0px 0px;    
  width: 95%;
  padding: 5px 40px 3px 48px;
  font-size: 14px;
  line-height: 2rem;
  margin-bottom: 20px;
  background: #53345d;
  border-style: none;
  color: #fff;
}
.register .fb {
  background: #3b5999;
  border-style: none;
  color: #fff;
}
.register .goo {
  background:  #4285F4;
  border-style: none;
  color: #fff;
}
#mensajeLogin{
  font-size: 13px;
  color: #fb023c;
  text-align: center;
}
#mensajeRegistro{
  font-size: 13px;
  color: #fb023c;
  text-align: center;
}
footer{
  width: 100%;
  background: #53345d;
  color: white;   
}
.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.container-body{
  display: flex;
  justify-content: space-between;
}
.colum1{
  max-width: 400px;
}
.colum1 h1{
  font-size: 22px;
}
.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}
.colum2{
  max-width: 400px;
}
.colum2 h1{
  font-size: 22px;
}
.row{
  margin-top: 20px;
  display: flex;
}
.row img{
  width: 36px;
  height: 36px;
}
.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}
.colum3{
  max-width: 400px;
}
.colum3 h1{
  font-size: 22px;
}
.row2{
  margin-top: 20px;
  display: flex;
}
.row2 img{
  width: 36px;
  height: 36px;
}
.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}
.container-footer{
  width: 100%;  
  background: #401b40;
}
.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}
.copyright{
  color: #C7C7C7;
}
.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.index-img-message {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-img-message img {
  width: 88%;
  margin: 100px 7px 9%;
}
.index-img-message p {
  font-size: 1.8vw;
  text-align: center;
  width: 90%;
  font-size: 1.8vw;
  color: #2e2e2e;
}
#check {
  display: none;
}
#check:checked ~ .sidebarNav {
  width: 57%;
}
.sidebarNav {
  position: fixed;
  top: 96px;
  width: 0px;
  height: 40vh;
  background: linear-gradient(90.02deg, rgba(239, 194, 228, 0.17) 17.4%, rgba(122, 62, 190, 0.33) 83.92%);
  transition: all 300ms;
  overflow: hidden;
}
.sidebar label span{
  position: fixed;
  top: 34px;
  left: 14px;
  width: 35px;
  text-align: center;
  font-size: 38px;
  color: #580dad;
  border-radius: 25%;
  cursor: pointer;
  z-index: 10;
  transition: all 300ms;
}
.sidebar label span:hover {
  background: rgba(241, 57, 195, 0.2);
}
.sidebarNav ul li {
  color: #220752;
  list-style: none;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
  cursor: pointer;
  transition: all 300ms;
  
}
.sidebarNav ul li:hover {
  background: rgba(241, 57, 195, 0.2);
}
.title-new-post {
  background: linear-gradient(90.02deg, rgba(239, 194, 228, 0.17) 17.4%, rgba(122, 62, 190, 0.33) 83.92%);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.user-foto {
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  border-radius: 5em;
}
.comun-ocupation {
  display: flex;
  flex-direction: row;
}
.new-post {
  width: 100%;
  border: 1px solid #CCCCCC;
  padding: 20px 20px 10px 20px;
}
.new-post textarea {
  width: 100%;
  margin: auto;
  height: 100px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  resize: none;
  font-size: 16px;
}
.camera-privacity {
  display: flex;
  align-items: center;
}

.camera-privacity div {
  margin: 0px 20px;
}

.upload{
  display: none;
}
.camera {
  width: 40px;
  height: auto;
  cursor: pointer;
}
.container .btn-post{
  width: 7em;
  height: 2.1em;
  border-radius: 0.4em;
  background: linear-gradient(90.02deg, rgba(239, 194, 228, 0.17) 17.4%, rgba(122, 62, 190, 0.33) 83.92%);
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}
.hide {
  display: none !important;
}
.column3 {
  display: none;
}
.time {
  display: flex;
  flex-direction: row;
}

.time>* {
  padding: 5px;
  font-size: 15px;
  color: #757575;
}

.time img {
  width: 28px;
  height: 28px;
  /* cursor: pointer; */
}
.text-post {
  display: flex;
  flex-direction: row;
}
.each-post {
  width: 100%;
  border: 1px solid #CCCCCC;
  margin-bottom: 20px;
}
.fotopost {
  width: 16em;
  height: 14em;
  display: none;
}
#btnGuardarComentario {
  width: 100px;
    height: 30px;
    background: linear-gradient(90.02deg, rgb(145, 93, 146) 17.4%, rgba(122, 62, 190, 0.68) 83.92%);
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    /* font-weight: bold; */
    outline: none;
}
.body-post {
  padding: 15px 20px;
  word-wrap: break-word;
  /* max-width: 100vw; */
}

.body-post p {
  text-align: justify;
  width: 100%;
}
#btoPost {
  width: 100px;
  height: 30px;
  background: linear-gradient(90.02deg, rgb(145, 93, 146) 17.4%, rgba(122, 62, 190, 0.68) 83.92%);
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  /* font-weight: bold; */
  outline: none;
}
.container-post {
  border-radius: 8px;
  margin: 10px 50px auto 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgPost {
  max-width: 80%;
  margin-top: 1em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.fotoperfil {
  width: 100px;
  height: 100px;
  margin: 3px 4px;
  border-radius: 3em;
}
@media (max-width:768px) {
  .container {
    margin: 0px;
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: 45% 55%; */
    justify-content: space-around;
    padding: 0px;
  }
  .container-post {
    width: 90%;
    margin: 0px 20px;
}
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin: auto;
    border-radius: 5px;
    width: 22em;
    margin-top: 41px;
    margin-bottom: 3em;
    justify-content: space-evenly;
  }
  .container-body{
      flex-wrap: wrap;
  }
  .index-img-message {
      display: none;
  }
  .colum1{
      max-width: 100%;
  }
  .colum2,
  .colum3{
      margin-top: 40px;
  }
  .father {
    display: flex;
  }
}

@media (max-width:1024px) and (min-width:768px) {
  .login {
   max-height: 460px;
  }
  .index-img-message {
   display: none;
  }
}